*{
margin: 0;
padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
  
}
h1{
    font-size: 50px;
  
}

.header-color{
    color: orange;
    font-weight: 900;
}
.title-header{
    margin-top: 20px;
}
.header-area-left{
    width: 50%;
    padding: 5%;

}
.header-area-left h3{
    margin: 25px 0;
}
.header-area-left p{
        font-size: 20px;
        line-height: 27px;
        text-align: justify;
        margin-bottom: 20px;
}

.header-area-left img{
    width: 80%;
}
.fleax-area{
    display: flex;
  
    
}
.btn {
    border-radius: 5px;
    font-weight: 600;
    width: 74px;
    text-decoration: none;
    border: 2px solid orange;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 20px;
    background: orange;
    color: white;
}
.header-top-banner{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -25px;
}

.banner-buttom{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.card-header {
    height: 356px;
    width: 435px;
    margin-left: 86px;
    box-shadow: 6px 9px 10px 10px #ebe1e1;
    
}
.card-header h1 {
    font-size: 34px;
}
.card-header h3{
    color: orange;
}   
.card-header-1{
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
    border-left: 10px solid ;
    
}
.card-header-2 {
    border-image: linear-gradient(#12f4ff, #412de3);
    border-image-slice: 1;
    border-left: 10px solid;
}
.card-bg-imag{
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}